<div class="content container my-5">

    <h2>Registrarse</h2>

    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
        <div class="container row">

            <div class="col-lg-6">
                <div class="form-floating my-3">
                    <input type="text" class="form-control" id="nombres" placeholder="Ingrese Nombre(s)"
                        formControlName="nombres">
                    <label for="nombres">Nombre(s)</label>
                    <div *ngIf="userForm.get('nombres')?.touched && userForm.get('nombres')?.hasError('required')">
                        Este campo es obligatorio</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-floating my-3">
                    <input type="text" class="form-control form-row" id="apePat" placeholder="Apellido Paterno"
                        formControlName="apePat">
                    <label for="apePat">Apellido Paterno</label>
                    <div *ngIf="userForm.get('apePat')?.touched && userForm.get('apePat')?.hasError('required')">
                        Este campo es obligatorio</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-floating my-3">
                    <input type="text" class="form-control" id="apeMat" placeholder="Apellido Materno"
                        formControlName="apeMat">
                    <label for="apeMat">Apellido Materno</label>
                    <div *ngIf="userForm.get('apeMat')?.touched && userForm.get('apeMat')?.hasError('required')">
                        Este campo es obligatorio</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-floating my-3">
                    <input type="date" class="form-control" id="fechanac" placeholder="Fecha Nacimiento"
                        formControlName="fechanac">
                    <label for="fechanac">Fecha Nacimiento</label>
                    <div *ngIf="userForm.get('fechanac')?.touched && userForm.get('fechanac')?.hasError('required')">
                        Este campo es obligatorio</div>
                    <div *ngIf="userForm.get('fechanac')?.touched && userForm.get('fechanac')?.hasError('requiredAge')">
                        Debes tener mas de {{ userForm.get('fechanac')?.getError('requiredAge') }} años para registrarte
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-floating my-3">
                    <input type="text" class="form-control" id="direccion" placeholder="Dirección"
                        formControlName="direccion">
                    <label for="direccion">Dirección Despacho</label>
                    <div *ngIf="userForm.get('direccion')?.touched && userForm.get('direccion')?.hasError('required')">
                        Este campo es obligatorio</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-floating my-3">
                    <input type="text" class="form-control" id="usuario" placeholder="Usuario"
                        formControlName="usuario">
                    <label for="usuario">Usuario</label>
                    <div *ngIf="userForm.get('usuario')?.touched && userForm.get('usuario')?.hasError('required')">
                        Este campo es obligatorio</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-floating my-3">
                    <input type="email" class="form-control" id="correo" placeholder="Correo" formControlName="correo">
                    <label for="correo">Correo</label>
                    <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.hasError('required')">
                        Este campo es obligatorio</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-floating my-3">
                    <input type="password" class="form-control" id="passwd" placeholder="Contraseña"
                        formControlName="passwd">
                    <label for="passwd">Contraseña</label>
                    <div *ngIf="userForm.get('passwd')?.touched && userForm.get('passwd')?.hasError('required')">
                        Este campo es obligatorio</div>
                    <div
                        *ngIf="userForm.get('passwd')?.touched && userForm.get('passwd')?.hasError('passwordStrength')">
                        {{ userForm.get('passwd')?.getError('passwordStrength') }}</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-floating my-3">
                    <input type="password" class="form-control" id="repasswd" placeholder="Confirmar Contraseña"
                        formControlName="repasswd">
                    <label for="repasswd">Confirmar Contraseña</label>
                    <div *ngIf="userForm.get('repasswd')?.touched && userForm.get('repasswd')?.hasError('required')">
                        Este campo es obligatorio</div>
                    <div
                        *ngIf="userForm.get('repasswd')?.touched && userForm.get('repasswd')?.hasError('passwordMatch')">
                        Las contraseñas no coinciden</div>
                </div>
            </div>

            <div class="container">
                <button class="btn btn-primary px-5 py-3 float-end" type="submit">Enviar</button>
                <button class="btn btn-danger px-5 py-3 mx-3 float-end" onclick="limpiaForm()">Borrar</button>
            </div>
        </div>

    </form>

</div>